<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only" i18n='@@app.navigation'>Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/" i18n='@@app.movieFinder'>Angular-Movie</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="movie/upcoming" i18n='@@app.upcomingMovie'>Upcoming Movies</a></li>
                <li routerLinkActive="active"><a routerLink="serie/popular" i18n='@@app.popularSeries'>Popular Series</a></li>
                <li routerLinkActive="active"><a routerLink="actor" i18n='@@app.actorSearch'>Actor</a></li>


            </ul>

            <ul class="nav navbar-nav navbar-right">
                <ngxmovie-lang></ngxmovie-lang>
                <ngxmovie-switch-theme></ngxmovie-switch-theme>
            </ul>


        </div>

        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- /.navbar -->
<!--<div class="container">
  <div class="section">
    <router-outlet></router-outlet>
  </div>
</div>-->
<div class="container-fluid app-container">
    <div class="row">
        <!--<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2" id="sidebar">
      <div class="list-group">
        <a routerLink="/genres/{{genre.id}}/{{genre.name}}" routerLinkActive="active" class="list-group-item" *ngFor="let genre of genres">{{genre.name}}</a>
      </div>
    </div>-->
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".movies-cat">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                </div>
                <div class="collapse navbar-collapse movies-cat">
                    <div class="panel-heading" i18n='@@app.movieCategory'>Movies Category</div>
                    <ul class="nav nav-stacked">
                        <a routerLink="movie/genres/{{genre.id}}/{{genre.name}}" routerLinkActive="active" class="list-group-item" *ngFor="let genre of genres">{{genre.name}}</a>
                    </ul>
                </div>

                <!-- /.navbar-collapse -->
            </nav>
        </div>
        <!--/end left column-->
        <!--/.sidebar-offcanvas-->
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
            <router-outlet></router-outlet>
        </div>
        <!--/.col-xs-12.col-sm-9-->
    </div>
    <!--/row-->
    <hr>
    <footer>
        <p>&copy; 2017 Pierre Nédélec.</p>
        <ng-container i18n="@@app.applicationName">Angular-Movie</ng-container>
    </footer>
    <router-outlet name="popup"></router-outlet>
</div>
<!--/.container-->